* {
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #141a29;
  color: #f2f2f2;
  letter-spacing: 2.4px;
  height: 100vh;
  width: 100%;
}
